
<!-- Si cartItems$ contient des éléments, affichez les produits du panier, sinon affichez "panier vide" -->
<div *ngIf="cartItems$ | async as cartItems; else emptyCart">
  <div *ngIf="cartItems.length > 0">
    <h2>Panier</h2>
    <ul>
      <li *ngFor="let item of cartItems">
        {{ item.name }} - {{ item.price | currency }}
        <button (click)="removeFromCart(item.id.toString())" class="p-button-danger">Supprimer</button>
      </li>
    </ul>
  </div>
</div>

<ng-template #emptyCart>
  <p>Votre panier est vide.</p>
</ng-template>
