<p-toolbar [style]="{ height: '100px' }">
    <div class="p-toolbar-group-start">
        <img src="assets/icons/icon-72x72.png" alt="logo" />
    </div>
    <div class="p-toolbar-group-center">
        {{ title }}
    </div>
    <div class="p-toolbar-group-end" [routerLink]="'/cart'" style="cursor: pointer;">
        <i class="pi pi-shopping-cart" style="font-size: 2rem"></i>
        <span class="badge">{{ getCartCount() }}</span>
    </div>
    
</p-toolbar>
<p-splitter 
    [panelSizes]="[20, 80]" 
    [style]="{ height: 'calc(100vh - 100px)' }">
    <ng-template pTemplate>
        <div class="w-full">
            <app-panel-menu />
        </div>
    </ng-template>
    <ng-template pTemplate>
        <div class="w-full app-content">
            <router-outlet></router-outlet>
        </div>
    </ng-template>
</p-splitter>
<p-menu>
    <ng-template pTemplate="start">
      <li><a [routerLink]="'/contact'">Contact</a></li>
    </ng-template>
  </p-menu>
  
<p-toolbar>
    <div class="p-toolbar-group-end">
      <i class="pi pi-shopping-cart" style="font-size: 2rem; position: relative">
        <span
          *ngIf="getCartCount() > 0"
          class="cart-badge"
          style="
            position: absolute;
            top: -8px;
            right: -8px;
            background: red;
            color: white;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.8rem;
          "
        >
          {{ getCartCount() }}
        </span>
      </i>
    </div>
  </p-toolbar>
  